@model Dobri_Tasklist_Manager.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" asp-action="LogIn">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="LogIn">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <img src="https://cdn.discordapp.com/attachments/914217140452737115/1014924423935049859/dobrev_shegata.png" alt="Simply Easy Learning" width="393" height="466" class="center">
</div>

